@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.product-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-container{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.product-img{
  width: 150px;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.product-label{
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 720px) {
  .product-list{
    flex-direction: column;
  }
  .product-container{
    margin-bottom: 25px;
  }
}